# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.IJunior.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\GitHub\IJunior\.idea\.idea.IJunior\.idea/dataSources/
/dataSources.local.xml
